.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;

  flex-wrap: wrap;
  gap: 3vw;
}

audio {
  display: none;
}

.timerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 9rem;
  height: 7rem;

  border: 0.25rem solid black;
  border-radius: 0.5rem;
}

.timerWrapper .deleteBtn {
  align-self: flex-end;
  background-color: rgb(239, 81, 81);
}

.timerControlsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.timerControlsWrapper button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 3rem;
}

.timeInputBox {
  width: 2rem;
}

.inputBoxWrapper {
  align-self: center;
  justify-self: center;
}

.timeInputBtn {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 3rem;
  justify-content: center;
}

.timeInputBtnWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  justify-self: flex-end;
}
